<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CineBloom</title>

    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}">
            <i class="fas fa-home mx-1"></i>
        </a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{'/movies'}">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/books/form'}">
                        <i class="fas fa-plus-circle"></i> Add
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto topnav">
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/register'}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Log In
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="movie, stat : ${movies}"
            th:class="${stat.odd}? 'table-light':''">
            <td th:text="${movie.id}">1</td>
            <td th:text="${movie.title}">Book</td>
            <td th:text="${movie.releaseDate}">Release Date</td>
            <td th:text="${movie.description}">Description</td>
            <td>
                <a th:href="@{'/movies/edit/' + ${movie.id}}">
                    <i class="fa-solid fa-pen"></i>
                </a>
            </td>
            <td>
                <a th:href="@{'/movies/delete/' + ${movie.id}}"
                   onclick="return confirm('Delete this movie?');">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
