<!-- templates/myMoviesHome.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Movies</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="container mt-5">
  <h2 class="mb-4">My Movies</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a th:href="@{/my-movies/WANT_TO_WATCH}" class="text-decoration-none">
        <div class="card h-100 text-center shadow">
          <div class="card-body">
            <h5 class="card-title">Want to Watch</h5>
            <p class="card-text">Movies you want to watch later</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a th:href="@{/my-movies/WATCHING}" class="text-decoration-none">
        <div class="card h-100 text-center shadow">
          <div class="card-body">
            <h5 class="card-title">Watching</h5>
            <p class="card-text">Movies you're currently watching</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a th:href="@{/my-movies/WATCHED}" class="text-decoration-none">
        <div class="card h-100 text-center shadow">
          <div class="card-body">
            <h5 class="card-title">Watched</h5>
            <p class="card-text">Movies you’ve already watched</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

</body>
</html>
